@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  display: block;
  font-family: "Josefin Sans", sans-serif;
  background-image: linear-gradient(
    to top,
    #1b004c,
    #190442,
    #170737,
    #16082d,
    #140922,
    #0f0c20,
    #0c0e1c,
    #0b0f18,
    #08131a,
    #07161a,
    #07181a,
    #0a1a19
  );
}

.open-source-code {
  color: #ff8400;
  font-size: 17px;
  line-height: 4;
  text-align: center;
}
